<!-- templates/result.html -->
{% extends 'base.html' %}

{% block content %}
<h1 class="title is-3 has-text-primary">Récupérer le dernier résultat pour la sémantique</h1>
<div class="container">
<form action="" method="post">{% csrf_token %}
    <h3 class="is-size-4 has-text-dark">Levels:</h3>
    <div class="container is-size-5 has-text-info">
        {{ str_levels }}
    </div>
    <h3 class="is-size-4 has-text-dark">Processors:</h3>
    <div class="container is-size-5 has-text-info">
        {{ str_processors }}
    </div>
    <button class="button is-primary is-size-4" type="submit" value="Sauvegarder">Sauvegarder le fichier ZIP</button>
    <h3 class="is-size-4 has-text-danger">Resultats:</h3>
    <div class="container is-size-6">
        {% autoescape off %}
        {{ str_output }}
        {% endautoescape %}
    </div>
</form>
</div>
{% endblock content %}
