<!-- templates/chain.html -->
{% extends 'base.html' %}

{% block content %}
<h1 class="title is-3 has-text-primary">Calculer les indices sémantiques</h1>
<div class="container">
<form enctype="multipart/form-data" method="post">{% csrf_token %}
    <div class="field">
        <label class="label">{{ form.levels.label }}</label>
    </div>
    <div id="djlvl" class="field">
        {{ form.levels }}
    </div>
    
    <div class="field">
            <label class="label">{{ form.processors.label }}</label>
    </div>
    <div id="djproc" class="field">
        {{ form.processors }}
    </div>

    <div class="field">
        <label class="label">{{ form.text.label }}</label>
    </div>
    <div class="field">
        <div class="control">
            {{ form.text }}
        </div>
    </div>

    <button class="button is-primary is-3" type="submit" value="Executer">Executer</button>
</form>
</div>
{% endblock content %}
