h1,
h2,
footer,
form {
    text-align: center;
}

.logos {
    display: inline-block;
}

.logo {
    width: auto;
    height: 50px;
    margin: 15px;
}

a {
    color: #b7004e;
}

/* show <pre> only when there is content inside */
div pre:empty {
    display: none;
}

nav {
    background: rgb(115, 0, 54);
    background: linear-gradient(90deg, rgba(115, 0, 54, 1) 0%, rgba(226, 0, 130, 0.7) 40%, rgba(163, 23, 255, 1) 80%);
}

a.navbar-item {
    color: white;
}

a.navbar-item:hover {
    color: purple;
}

h1.title,
div.box h2.title {
    color: purple;
}

article.message {
    width: 50%;
    height: auto;
    margin: auto;
}

.modal .modal-content article.message {
    width: auto;
    height: auto;
    margin-top: 20%;
}

.modal .modal-content article.message div.message-body {
    white-space: pre-line;
}

form.post-form div.field div.button,
form.post-form div.field div.button:hover,
form.post-form div.field div.button:active {
    color: purple;
    background: RGBA(177, 156, 217, 0.5);
    border-radius: 0;
}

form.post-form div.field button.button,
form.post-form div.field button.button:hover,
form.post-form div.field button.button:active,
div.download_results form.post-form button.button,
div.download_results div.columns div.column form.post-form button.button {
    background: RGBA(130, 0, 186, 0.8);
    border: solid 1px RGBA(130, 0, 186, 0.8);
    border-radius: 0;
}
